<div class="container my-3">
    <h1>Create a new course</h1>
    <form action="/courses/store" method="POST">

        <div class="input-group mb-3">
            <label class="input-group-text" for="input-name">Name</label>
            <input type="text" name="name" class="form-control" id="input-name" placeholder="Course Name"
                aria-label="Course Name">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="input-description">Description</label>
            <textarea class="form-control" name="description" id="input-description"
                aria-label="Description"></textarea>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="input-videoid">VideoId</label>
            <input type="text" name="videoId" class="form-control" id="input-videoid"
                placeholder="https://www.youtube.com/watch?v=<youtube-video-id-here>" aria-label="VideoId">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="input-level">Level</label>
            <select class="form-select" id="input-level" name="level">
                <option selected>Choose...</option>
                <option value="Beginer">Beginer</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>


    </form>
</div>