 <header style="height: 50px; width:100%; background-color: cyan">
        <h1>Header</h1>
        <nav>
            <ul>
                <li><a href="">news</a></li>
            </ul>
        </nav>
    </header>